.category-container {
  display: flex; /* Align items with space between them */
}

.sidebar {
  width: 100px;
}

.table-container {
  flex: 1;
  margin-left: 20px; /* Add some spacing between the sidebar and the table */
}
